#cloud-config

write_files:
  - path: /etc/environment
    append: true
    content: |
      FLASK_SECRET="${flask_secret}"
      ADMIN_USERNAME="${admin_username}"
      ADMIN_PASSWORD="${admin_password}"
      BACKEND_API_URL="http://${backend_lb_ip}:80"

  - path: /etc/systemd/system/flaskapp.service
    content: |
      [Unit]
      Description=Gunicorn instance to serve Flask App
      After=network.target

      [Service]
      User=${vm_user}
      Group=${vm_user}
      WorkingDirectory=/app
      EnvironmentFile=/etc/environment
      ExecStart=/app/venv/bin/gunicorn --bind=0.0.0.0:8000 --timeout 600 --workers 4 app:app
      Restart=always

      [Install]
      WantedBy=multi-user.target

package_update: true
packages:
  - python3-pip
  - python3-venv
  - python3-dev
  - curl
  - unzip

runcmd:
  # App setup
  - mkdir -p /app
  - cd /app

  # Wait for frontend ZIP and download
  - |
    echo "Waiting for frontend ZIP to be available..."
    until curl -sf "${frontend_blob_url}" -o /tmp/frontend.zip; do
      echo "Frontend ZIP not available yet, retrying in 10 seconds..."
      sleep 10
    done

  - unzip /tmp/frontend.zip -d /app
  - rm /tmp/frontend.zip

  # Fix ownership after unzip
  - chown -R ${vm_user}:${vm_user} /app

  # Python setup
  - python3 -m venv /app/venv
  - /app/venv/bin/pip install --upgrade pip
  - /app/venv/bin/pip install -r /app/requirements_frontend.txt

  # Start app (via SystemD)
  - systemctl daemon-reload
  - systemctl enable flaskapp
  - sleep 5
  - systemctl start flaskapp
